/* .background-color-blue {
  background-color: #071938;
} */
body {
  background-color: #071938;
  font-family: monospace, sans-serif !important;
}

/* removing margin from all the text type */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

/* removing all the styles from the links and formatting them white */
a {
  text-decoration: none;
  color: white;
}

.navigation-bar {
  height: auto;
  width: auto;
  background-image: linear-gradient(180deg, black, rgba(0, 0, 0, 0));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 5%;
  transition: all ease-in-out 1s; /* when the navbar loads, every property transits for 1s */
}

/* all the divs inside the navigation bar should be placed side by side*/
.navigation-bar > div {
  display: inline-block;
}

.title-combo > div {
  vertical-align: middle;
  display: inline-block;
}

/* website logo image */
.website-logo img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  vertical-align: middle;
  animation-name: rotating;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* animation for logo */
@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* logo name */
.website-name {
  color: wheat;
  font-family: serif;
}

/* favourite */
.favs {
  color: whitesmoke;
  font-family: "Times New Roman";
}

/* search bar */
.search-bar {
  width: 20%;
  position: relative;
}

/* changing the style of the search bar  */
.search-bar input {
  width: 100%;
  font-size: 16px;
  text-decoration: none;
  border-radius: 18px;
  border: none;
  padding: 5px;
  font-weight: 500;
  text-align: center;
  transition: all ease-in-out 0.1s;
}

/* search icon */
.search-bar > div:nth-child(1) {
  display: inline-block;
  position: absolute;
  width: min-content;
  left: 5%;
  top: 10%;
  transition: all ease-in-out 0.1s;
}
/* mic icon */
.search-bar > div:nth-child(3) {
  display: inline-block;
  position: absolute;
  width: min-content;
  right: 0%;
  top: 10%;
  transition: all ease-in-out 0.1s;
}

/* notification bell icon */
.notification-bell {
  color: white;
}

/* animation for notification bell icon */
@keyframes ringging-bell {
  0% {
    transform: rotate(-15deg);
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(-15deg);
  }
}

/* animation for notification bell icon */
.notification-bell i {
  animation-name: ringging-bell;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* style of profile picture */
div img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  vertical-align: middle;
}

main {
  width: 100%;
  padding: 0% 3%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transition: all ease-in-out 1s;
}

/* this is aside-section-1 style  */
.aside {
  height: auto;
  /* width: 70%; */
  /* background-image: linear-gradient(180deg, black, rgba(0, 0, 0, 0)); */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 3%;
  margin-left: -7%;
  display: inline-block;
  overflow: hidden;
}

/* section 1 of main part */
.section-1 {
  width: 70%;
  /* height: 86vh; */

  overflow: scroll;
  overflow-x: hidden;
}
/* overflow should be scrollable but the scroll bar should be hidden*/
.section-1::-webkit-scrollbar {
  display: none;
}
/* section 2 of the main part */
.section-2 {
  width: 33%;
  height: auto;
  margin-right: -10%;
  position: relative;
  right: 6%;
}

.artist-main-container {
  width: 100%;
  height: 40vh;
  border: 2px solid white;
}

.artist-main-container div {
  display: inline-block;
}

#artist-image {
  width: 80%;
  height: 40vh;
  border-radius: 0px;
}

.artist-description {
  position: relative;
  top: 1rem;
}

.artist-description > div {
  display: block;
}

#artist-name {
  position: relative;
  top: 1rem;
  right: 3rem;
  color: white;
  display: flex;
  direction: row;
}

#total-follower {
  position: relative;
  top: 5px;
  left: 4rem;
  color: grey;
}

#artist-para {
  position: relative;
  width: 25rem;
  top: 2rem;
  right: 3rem;
  color: white;
}

.play-follower {
  display: inline;
  /* margin-left: 5rem; */
}

.play-all-button {
  position: relative;
  top: 3rem;
  right: 3rem;
  cursor: pointer;
}

.play-follower span {
  color: grey;
  position: relative;
  top: 3rem;
  right: 3rem;
  left: 4.5rem;
}

.play-all-button p {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}

.album-tracks {
  color: white;
  font-size: 0.8rem;
  position: relative;
  top: 3.5rem;
  right: 3rem;
}

.song-container {
  display: flex;
  direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2%;
  width: 100%;
  height: 4rem;
  border: 2px solid white;
  background-color: #023020;
}

/* .song-container div {
  display: inline-block;
} */

.left-container {
  display: flex;
  direction: row;
}

.song-no {
  color: white;
  position: relative;
  top: 1rem;
  left: 0.5rem;
}

.song-image {
  border-radius: 0px;
  position: relative;

  left: 2rem;
}

.song-title {
  color: white;
  position: relative;
  left: 3rem;
  top: 0.5rem;
  width: 140px;
}

.song-album {
  color: grey;
  position: relative;
  left: 3rem;
  top: 0.5rem;
  font-size: 0.8rem;
  width: 140px;
}

.song-duration {
  color: grey;
  position: relative;
  left: 200px;
  top: 0.7rem;
}

.right-container {
  position: relative;
  left: 30rem;

  display: flex;
  flex-direction: row;
}

.song-favourite {
  color: white;
  cursor: pointer;
}

.add {
  color: white;
  position: relative;
  left: 2rem;
  cursor: pointer;
}

/* similar artist container */
.similar-artist-container {
  width: 100%;
  height: 40vh;
}

.artist-alignment {
  display: flex;
  direction: row;
  justify-content: space-between;
}

.artist-alignment h2 {
  color: white;
}

.artist-alignment span {
  color: grey;
  position: relative;
  top: 0.4rem;
}

.individual-artist-block {
  margin-top: 6%;
  border: 2px solid white;
}

.individual-artist-block img {
  width: 80px;
  height: 70px;
  border-radius: 0px;
}

.individual-artist-block i {
  color: white;
}

.individual-artist-name {
  position: relative;
  top: 1rem;
}

.individual-artist-name h4 {
  color: white;
}

.individual-artist-name h5 {
  color: grey;
}

/* latest songs */
.latest-release-container {
  width: 100%;
  height: 40vh;
  margin-top: 100%;
}
