/* .background-color-blue {
  background-color: #152238;
} */

body {
  background-color: #152238;
  font-family: monospace, sans-serif;
}
/* removing margin from all the text type */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

/* removing all the styles from the links and formatting them white */
a {
  text-decoration: none;
  color: white;
}

.navigation-bar {
  height: auto;
  width: auto;
  background-image: linear-gradient(180deg, black, rgba(0, 0, 0, 0));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 5%;
  transition: all ease-in-out 1s; /* when the navbar loads, every property transits for 1s */
}

/* all the divs inside the navigation bar should be placed side by side*/
.navigation-bar > div {
  display: inline-block;
}

.title-combo > div {
  vertical-align: middle;
  display: inline-block;
}

/* website logo image */
.website-logo img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  vertical-align: middle;
  animation-name: rotating;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* animation for logo */
@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* logo name */
.website-name {
  color: wheat;
  font-family: serif;
}

/* try theme converter start */

.theme-options {
  position: fixed;
  right: 73%;
  top: 8%;
  background-color: #f1f1f3;
  width: 6%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1%;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 2; /* to cover the heart icon */
  opacity: 0;
  transform: scale(0);
  transition: all ease-in-out 0.25s;
  cursor: pointer;
}

/* when the queue option box becomes target */
#theme-option-box:target {
  opacity: 1;
  transform: scale(1);
}
.theme-options {
  color: black;
}
.theme-options p {
  text-align: center;
  font-size: 0.8rem;
  font-weight: bolder;
  /* width: 90px; */
}
.theme-options p a {
  text-decoration: none;
}

/* try theme converter end */

/* favourite */
.favs {
  color: whitesmoke;
  font-family: "Times New Roman";
}

/* search bar */
.search-bar {
  width: 20%;
  position: relative;
}

/* changing the style of the search bar  */
.search-bar input {
  width: 100%;
  font-size: 16px;
  text-decoration: none;
  border-radius: 18px;
  border: none;
  padding: 5px;
  font-weight: 500;
  text-align: center;
  transition: all ease-in-out 0.1s;
}

/* search icon */
.search-bar > div:nth-child(1) {
  display: inline-block;
  position: absolute;
  width: min-content;
  left: 5%;
  top: 10%;
  transition: all ease-in-out 0.1s;
}
/* mic icon */
.search-bar > div:nth-child(3) {
  display: inline-block;
  position: absolute;
  width: min-content;
  right: 0%;
  top: 10%;
  transition: all ease-in-out 0.1s;
}

/* notification bell icon */
.notification-bell {
  color: white;
}

/* animation for notification bell icon */
@keyframes ringging-bell {
  0% {
    transform: rotate(-15deg);
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(-15deg);
  }
}

/* animation for notification bell icon */
.notification-bell i {
  animation-name: ringging-bell;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* style of profile picture */
div img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  vertical-align: middle;
}

main {
  width: 100%;
  padding: 0% 3%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transition: all ease-in-out 1s;
}

/* this is aside-section-1 style  */
.aside {
  /* height: auto;
  width: 70%;
  background-image: linear-gradient(180deg, black, rgba(0, 0, 0, 0));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 5%; */
  display: inline-block;
  overflow: hidden;
}

/* section 1 of main part */
.section-1 {
  width: 65%;
  height: 86vh;
  overflow: scroll;
  overflow-x: hidden;
}
/* overflow should be scrollable but the scroll bar should be hidden*/
.section-1::-webkit-scrollbar {
  display: none;
}
/* section 2 of the main part */
.section-2 {
  width: 30%;
  height: 100%;
}

/* carousel container */
.carousel {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 2%;
  margin-top: 10%;
}

/* images under carousel container */
.carousel img {
  height: 180px;
  width: 220px;
  border-radius: 0;
  margin: 1%;
  transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s;
  cursor: pointer;
}

/* when cursor goes on images, the size of image will increase */
.carousel img:hover {
  transform: scale(1.5);
}

/* style for the latest release section */
#latest-release {
  position: relative;
  margin-top: 5%;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  margin-left: 5%;
}

.latest-release-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

#latest-release h3 {
  color: white;
  font-weight: bold;
}

/* style for the block of each songs in latest release section */
.latest-release-content > div {
  /* border: 2px solid red; */
  height: 100px;
  width: 47%;
  margin: 5px 0px;
  display: inline-block;
  margin-left: -3%;
}

/* card is the general class for the components of the latest release part */
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: box-shadow ease-in-out 0.1s;
}

/* hovering effects for the latest release part components */
.card:hover {
  box-shadow: 0px 0px 2px 1px white;
}

/* image of each block of latest release section */
.card div img {
  width: 100px;
  height: 100%;
  border-radius: 0%;
}

.card > div {
  display: inline-block;
}

/* style for the each song description, where name and release date of song writen */
.song-description {
  margin: auto 5%;
  vertical-align: top;
  margin-top: 30px;
  width: 140px;
}

.card div p {
  position: relative;
  top: 5px;
  color: grey;
  font-size: 12px;
}

/* play button on each image
.play-button {
  width: 100%;
  height: 65%;
  position: relative;
  top: -60px;
  left: 90px;
  opacity: 0;

  /* z-index: 5; */
/* transition: all ease-in-out 0.1s;
}

.play-button:hover {
  opacity: 1;
  transform: scale(2);
} */

.play-pause-button {
  color: white;
  cursor: pointer;
}

button {
  background-color: transparent !important;
  color: white;
  border: none;
  cursor: pointer;
}

.audio-control {
  background-color: black;
  cursor: pointer;
}

/* this is the starting of popular artist section style */

#popular_artist_container {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 5%;
  margin-right: 5%;
}

/* this is the container of artist images */
#popular_artist_container > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-left: 2%;
}

#popular_artist_container > div div {
  text-align: center;
  color: white;
  cursor: pointer;
}

/* style for the each artist-image inside container */
#popular_artist_container > div div img {
  height: 100px;
  width: 100px;
  transition: 0.1s ease-in-out;
}

/* when anyone take hover on image, image shows some effect */
#popular_artist_container > div div img:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 2px 2px white;
}

/* style for the heading of popular artist section */
#popular_artist_container h3 {
  color: whitesmoke;
  margin-left: 5%;
}
/* this is the end of popular artist section style */

/* this is the starting of stations section */
#stations_container {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 5%;
  margin-right: 5%;
}

/* this is the container of different stations images */
#stations_container > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-left: 5%;
  /* border: 2px solid red; */
  background-color: rgb(199, 103, 34) !important;
}

#stations_container > div div img {
  height: 70px;
  width: 70px;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.main-station-logo {
  width: 100px !important;
  height: 100px !important;
  border-radius: 0px !important;
  margin-left: -21%;
}

/* style for the top 50 section */
#top_50 {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 5%;
  margin-right: 5%;
}

#top_50 > div {
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-left: 5%;
  /* border: 2px solid red; */
}

#top_50 > div #top50-image1 {
  height: 150px;
  width: 230px;
  background-image: url("https://youthincmag.com/wp-content/uploads/2021/03/WhatsApp-Image-2021-03-27-at-15.26.03.jpeg");
  background-size: cover;
  transition: 0.1s ease-in-out;
  opacity: 0.5;
  cursor: pointer;
  /* z-index: -1; */
}

#top_50 > div #top50-image2 {
  height: 150px;
  width: 230px;
  background-image: url("https://static.toiimg.com/photo/msid-73047961/73047961.jpg");
  background-size: cover;
  transition: 0.1s ease-in-out;
  opacity: 0.5;
  cursor: pointer;
  /* z-index: -1; */
}

#top_50 > div #top50-image3 {
  height: 150px;
  width: 230px;
  background-image: url("https://imgnew.outlookindia.com/public/uploads/articles/2021/12/29/collage_(3)_ccexpress.jpg");
  background-size: cover;
  transition: 0.1s ease-in-out;
  opacity: 0.5;
  cursor: pointer;
  /* z-index: -1; */
}

.top-50-title {
  position: relative;
  bottom: 6rem;
  left: 4rem;
  color: rgb(164, 233, 35);
  font-weight: bolder;
  cursor: pointer;
}

.top-50-title2 {
  position: relative;
  bottom: 6rem;
  left: 2rem;
  color: rgb(164, 233, 35);
  font-weight: bolder;
  cursor: pointer;
}

#top_50 > div #top50-image1:hover {
  transform: scale(1.3);
  transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s;
}

#top_50 > div #top50-image2:hover {
  transform: scale(1.3);
  transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s;
}

#top_50 > div #top50-image3:hover {
  transform: scale(1.3);
  transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s;
}

/* this is the starting of party songs section */
.music-theme {
  width: 100%;
  height: auto;

  margin-top: 3%;
  margin-right: 5%;
}

/* this is the container of artist images */
.music-theme > div {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 2.5%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.music-theme h3 {
  color: white;
  margin-left: 5%;
  margin-bottom: 1%;
}

.music-theme > div div {
  text-align: center;
  color: white;
  cursor: pointer;
}

/* style for the each artist-image inside container */
.music-theme > div div img {
  height: 90px;
  width: 100px;
  border-radius: 0px;
}

.music-theme > div div img:hover {
  box-shadow: 0px 0px 2px 2px white;
}

.music-theme > div div p {
  position: relative;
  top: 5%;
  font-size: 0.9rem;
  width: 120px;
}

.music-theme > div div p span {
  color: grey;
  font-size: 0.7rem;
}

/* this is the ending of party songs section */

/* here starting of bottom section */

#bottom {
  width: 100%;
  height: auto;
  position: relative;
  top: 7rem;
  margin-right: 5%;
  background-color: #152238 !important;
}

#gaana-studio-slogan {
  color: white;
  text-align: center;
  word-spacing: 0.7em;
}

#bottom p {
  color: grey;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
}

/* social media links */
#social-media {
  position: relative;
  left: 40%;
}

/* this style applied on both social media and other-links */
#bottom div ul li {
  display: inline-block;
  margin: 1rem;
  font-size: 1.4rem;
}

#bottom div ul li:hover {
  box-shadow: 0px 0px 1px 2px yellow;
}

/* here ending of bottom section */

/* from here aside section 2 start */
.aside2-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 12%;
  margin-top: 22%;
}

.aside2-heading h1 {
  color: white;
}

.aside2-heading h4 a {
  text-decoration: none;
  color: goldenrod;
}

.queue-options {
  position: fixed;
  right: 5.5%;
  top: 23%;
  background-color: #f8f9fa;
  width: 6%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1%;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 2; /* to cover the heart icon */
  opacity: 0;
  transform: scale(0);
  transition: all ease-in-out 0.25s;
}

/* when the queue option box becomes target */
#queue-option-box:target {
  opacity: 1;
  transform: scale(1);
}
.queue-options {
  color: black;
}
.queue-options p {
  text-align: center;
  font-size: 0.8rem;
}
.queue-options p a {
  text-decoration: none;
}

.playlist {
  display: flex;
  flex-direction: column;
  height: 70vh;
  overflow: scroll;
  overflow-x: hidden;
}

/* class for a partilcular item in playlist */
.playlist-item {
  width: 90%;
  height: auto;
  padding: 0px 1%;
  box-sizing: border-box;
  margin: 5%;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
/* left content contains the image, index and name of the song */
.left-content {
  display: flex;
  height: 100%;
  width: 70%;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: center;
}

.left-content > div:nth-child(3) {
  margin-left: 12px;
  width: 50%;
  word-wrap: break-word;
}

.right-content {
  position: relative;
  left: 30%;
  top: 1rem;
}

.trending-news-header,
.trending-news-list {
  width: 92%;
  height: auto;
  padding: 0px 1%;
  box-sizing: border-box;
  margin-top: 15%;
  margin-left: 8%;
  display: flex;
  flex-direction: row;
  background-color: #90daff !important;
  cursor: pointer;
  border: 2px solid white;
}

.trending-news-header h3 {
  color: white;
  margin-left: 30%;
  animation-name: change-color;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes change-color {
  from {
    color: red;
  }
  to {
    color: green;
  }
}

.trending-news-list img {
  border-radius: 0px;
  margin-right: 1rem;
}

.trending-news-list li {
  display: flex;
  direction: row;
  margin-top: 5% !important;
}

.news-headline {
  color: black;
  width: 200px;
  word-wrap: break-word;
}

.new-news {
  color: red;
  font-weight: bold;
  animation-name: change-opacity;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
}

@keyframes change-opacity {
  from {
    opcaity: 1;
  }
  to {
    opacity: 0;
  }
}
